/* common */
#root {
    max-width: 620px !important;
    height: 800px;
    overflow: auto;
}

body, input[type="date"] {
    font-family: "Noto Sans KR" !important;
}

ul {
    list-style: none;
}

select {
    border: 1px solid;
    border-radius: 2px;
}

.content-body {
    position: relative;
    width: 600px;
    margin-top: 40px;
}

/* Header */
header {
    position: relative;
    height: 150px;
    width: 600px;

    .loginUserName {
        text-align: right;
        position: relative;
        right: 11px;
        font-size: 13px;
        span {
            margin-right: 15px;
        }
    }

    ul {
        padding: 0;
        height: 150px;
    }
    li {
        display: inline-flex;
        float: left;
        width: 90px;
        height: 50px;
        padding: 0 5px 0 5px;
    }
}

.menuTab {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover, &.tabClick {
        background-color: #f4f4f4;
    }

    a, a:hover {
        color: #727272;
    }


}

div[class=logout] {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    a:hover{

    }
}

/* Login */
.login {
    width: 300px;
    height: 500px;

    .buttonSet{
        width: 100%;
        height: 40px;
        margin-top: 15px;
        text-align: center;

        button {
            font-size: 15px;
            width: 90px;
            height: 100%;
            padding: 5px;
            margin-left: 10px;

        }
    }
    .rememberId {
        height: 20px;
        label {
            font-size: 13px;
        }
    }
}


/* CarBooking */
.carBookingCore {
    width: 600px;
}
.daySelectPhase {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;

    .dayPicker {
        display: flex;
    }
    .singleDay {
        height: 20px;
    }

    select {
        margin-left: 5px;
        height: 25px;
    }
}

.carSelectPhase {
    width: 100%;
}

.carGrid {
    width: 100%;
    height: 500px;
}

/* drivingInfo */
.drivingInfoCore {
    position: relative;
    width: 600px;

    .tab {
        position: relative;
        width: 100%;
        height: 50px;
        ul {
            width: 100%;
            height: 30px;
            padding: 10px 0 0 0;
        }
        li {
            width: 85px;
            height: 40px;
            padding: 10px 10px 0 10px;
            float: left;

            div {
                width: 100%;
                height: 100%;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;

                &.click {
                    background-color: #f4f4f4;
                }

                span {
                    font-weight: bold;
                }
            }
        }
    }
    .schdGrid, .histGrid {
        width: 100%;
        height: 500px;
    }
}

.popup_drivingRecord .popcontent .detailInfo {
    position: absolute;
    right: 30px;
    height: 52px;
    width: 52px;
    font-size: 11px;
    background-color: rgba(168, 162, 162, 0.4);
}

/* DrivingManage */
.drivingManageCore {
    position: relative;
    width: 600px;

    .tab {
        position: relative;
        width: 100%;
        height: 50px;
        ul {
            width: 100%;
            height: 30px;
            padding: 10px 0 0 0;
        }
        li {
            width: 80px;
            height: 50px;
            padding: 10px 10px 0 10px;
            float: left;

            div {
                width: 100%;
                height: 100%;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;

                &.click {
                    background-color: #f4f4f4;
                }

                span {
                    font-size: 13px;
                    font-weight: bold;
                }
            }
        }
    }
    .schdGrid, .histGrid, .norcGrid {
        width: 100%;
        height: 500px;
    }

    .searchBox {
        position: absolute;
        right: 15px;
        top: 35px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        .searchKeyword {
            border: none;
            width: 125px;
        }

        button {
            background: url("../assets/images/btn_search.png") center no-repeat;
            border: none;
            &:hover, &:active, &:focus {
                border: none !important;
            }
        }
    }
}

/* CarManage */
.carManageCore {
    width: 600px;
    .buttonset {
        text-align: right;
        margin-bottom: 15px;
        button {
            width: 55px;
            height: 35px;
            padding: 0 !important;
            margin-left: 10px;
        }
    }

    .carGrid {
        width: 100%;
        height: 500px;
    }
}
.popup_carInfo .modifyCarNumber{
    position: absolute;
    width: 45px;
    right: 50px;
    font-size: 13px;
    padding: 3px;

    &:hover, &:focus {
        border: none !important;
        outline: none !important;
    }

    &.active {
        background-color: #989494;
    }
}

/* carSchedule */
.carScheduleCore {
    /*width: 800px;*/
}

/* UserManage */
.userManageCore {
    width: 600px;

    .userGrid {
        width: 100%;
        height: 500px;
    }
}


/* AccessDenied */
.pageAccessDenied {
    width: 600px;
    height: 500px;
}

/* MainCalendar */
.react-calendar__navigation {
    margin-bottom: 15px;

    button {
        margin-left: 20px;
    }
}

.react-calendar__month-view__weekdays__weekday abbr[title]{
    text-decoration: none !important;
    font-weight: bold;
    font-size: 23px;
}

.react-calendar__tile {
    background-color: #ffffff;
}

/* Modal */
.modal-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
}

.modal-content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modal-header {
    position: relative;
    height: 45px;
    padding-bottom: 10px;
}

.modal-header h2 {
    height: 100%;
    margin: 15px 15px 15px 15px;
    text-align: center;
}

.popcontent {
    width: 100%;
    height: 80%;
    min-height: 30px;
    position: relative;
}

.paddingbox {
    width: 100%;
}

.poptable {
    margin-top: 9px;
    width: 100%;

    th {
        width: 60px;
        text-align: right;
        padding-right: 10px;
    }

    td {
        text-align: left;
        width: 80px;
    }

    input {
        border: none;
        border-bottom: 1px solid #000000;
        &:disabled, &:read-only {
            border-bottom: none !important;
        }
    }
    input::placeholder {
        color: red;
    }
}


.modal-dialog .buttonset {
    position: relative;
    width: 100%;
    text-align: center;
    top: 20px;
}

.modal-dialog .buttonset button {
    font-size: 13px;
    height: 40px;
    margin-right: 5px;
}

/* signUpModal */
.popup_signup .poptable {
    width: 300px;
    th {
        width: 90px;
    }
    td {
        width: 60px;
        margin-right: 30px;
    }
}

/* bookingModal */
.popup_booking .poptable {
    tr {
        height: 40px;
    }

    th{
        width: 50px;
    }

    td{
        input {
            width: 130px;
        }
        input[type=date] {
            width: 95px;
        }
        select {
            height: 18px;
        }
    }
}

/* userInfoModal */
.popup_userInfo .poptable {
    table-layout: fixed;
    th {
        width: 25px;
    }
    tr {
        width: 100px;
        td {
            width: 50px;
            input {
                width: 98%;
            }
        }
    }
}


.popup_userInfo .deleteUser {
    position: absolute;
    top: 0;
    right: 25px;
    width: 45px;
    height: 30px;
    font-size: 12px;
    padding: 0;
}

/* Calendar design */
:root .fc .fc-toolbar-title{
    font-size: 22px;
}

:root .fc .fc-button-primary {
    background-color: #f4f4f4;
    color: #868686;
    border: none !important;
    outline: none !important;

    &:hover {
        background-color: #a9a3a3;
        color: #ffffff;
    }
}

:root .fc .fc-scrollgrid-sync-inner a {
    color: #222;
    font-size: 13px;
    font-weight: bold;
}

:root .fc .fc-event .fc-event-main {
    text-align: center;
}

:root .fc .fc-scroller .fc-day-sat a{
    color: #000FFF;
}

:root .fc .fc-scroller .fc-day-sun a{
    color: #F00;
}

:root .fc .fc-daygrid-day-events .fc-event-left-half {
    margin-left: 43px;
}

:root .fc .fc-daygrid-day-events .fc-event-right-half {
    margin-right: 43px;
}