/* common */
body, input[type="date"] {
    font-family: "Noto Sans KR" !important;
}

ul {
    list-style-type: none;
}


/* CarBooking */
.carBookingCore {
    width: 600px;
}
.daySelectPhase {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .dayPicker {
        display: flex;
    }
    .singleDay {
        display: flex;
        span {
            transform: translate(0, 34%);
        }
    }
}

.carSelectPhase {
    width: 100%;
}

.carGrid {
    width: 100%;
    height: 500px;
}

/* drivingInfo */
.drivingInfoCore {
    width: 600px;
}

.drivingInfoCore .schdGrid {
    width: 100%;
    height: 500px;
}

.drivingInfoCore .histGrid {
    width: 100%;
    height: 500px;
}

/* CarManage */
.carManageCore {
    width: 600px;
    .buttonset {
        text-align: right;
    }
}

/* UserManage */
.userManageCore {
    width: 600px;
}

.userGrid {
    height: 500px;
}

/* AccessDenied */
.pageAccessDenied {
    width: 600px;
    height: 500px;
}

/* MainCalendar */
.react-calendar__navigation {
    margin-bottom: 15px;

    button {
        margin-left: 20px;
    }
}

.react-calendar__month-view__weekdays__weekday abbr[title]{
    text-decoration: none !important;
    font-weight: bold;
    font-size: 23px;
}

.react-calendar__tile {
    background-color: #ffffff;
}

/* Modal */
.modal-dialog {
    position: fixed;
    width: 100%;
    height: 100%;
}

.temp {
    background-color: #92b5e5;
}

.modal-content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.modal-header {
    position: relative;
    height: 45px;
}

.modal-header h2 {
    height: 100%;
    margin: 10px 0 0 13px;
}

.popcontent {
    width: 100%;
    height: 100%;
    min-height: 30px;
    position: relative;
}

.paddingbox {
    width: 100%;
}

.poptable {
    margin-top: 9px;
    width: 100%;

    input {
        border: none;
        border-bottom: 1px solid #000000;
    }
    input::placeholder {
        color: red;
    }
}


.modal-dialog .buttonset {
    position: absolute;
    bottom: 65px;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
}

.modal-dialog .buttonset button {
    font-size: 13px;
    height: 40px;
    margin-right: 5px;
}

.popup_booking .poptable tr {
    height: 40px;
}

